.feedback {
  margin-top: 5rem;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.box {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 7px 5px 10px 4px rgba(242, 249, 255, 0.2);
  padding: 1rem;
}

.box img {
  width: 100%;
  border-radius: 12px;
}

.title {
  text-transform: uppercase;
  font-size: 100px;
  background: linear-gradient(45deg, #222222 5%, #8764da 33%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  display: table;
  margin: 20px auto;

  transition: all 0.5s ease;
  transform: rotate(0deg);

  animation: move 3s infinite linear;
}

@keyframes move {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
