.background {
  /* background-color: #2d3436; */
  /* background-image: linear-gradient(315deg, #2d3436 10%, #000000 74%); */
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 20%, #000000 74%);

  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
