.header {
  padding: 3rem 1rem;
  color: white;
}

.header:after {
  margin-top: 5rem;
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 1px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: white; /*цвет фона элемента*/
  animation: headerline 2s infinite linear;
}

@keyframes headerline {
  0% {
  }
  100% {
    width: 100%;
  }
}

.title {
  font-weight: 1;
  color: white;
}

.photo {
  width: 10%;
  margin-bottom: 2rem;
}

.top {
  margin-bottom: 1rem;
}

.bottom {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  opacity: 0.9;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 0.4rem;
  font-size: 14px;
}

.link span {
  color: #8764da;
  font-weight: 700;
  font-size: 18px;
}

.link:after {
  margin-top: 0.5rem;
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: white; /*цвет фона элемента*/
  transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.link:hover:after {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
